
body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background: rgb(70,90,184);
background: linear-gradient(90deg, rgba(70,90,184,1) 10%, rgba(38,19,96,1) 80%);
color: #fff;
display: flex;
align-items: center;
justify-content: center;
font-size: 2rem;
height: 6rem;
}
form{
    display: flex;
    flex-direction: column;
}
.input{
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #AEAEAE;
}
.btn.search{
    background-color:#6991E3;
    color: #fff;
}
.btn{
    margin-top: 1rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    background-color: #AEAEAE;
}
.border{
    margin-top: 1rem;
    border-bottom: .1rem solid gray;
}
.grid-1x2{
    margin-top: 1rem;
    display: grid;
    grid-template:repeat(1, 1fr)/repeat(1,20rem)repeat(1, 60%)
}
.column-2{
    margin-left: 2rem;
}
.city-info{
    border: 1px solid #222;
    padding-left: 1rem;

}