/* body */
body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
}
/* nav */
nav {
    background: rgb(70,90,184);
background: linear-gradient(90deg, rgba(70,90,184,1) 10%, rgba(38,19,96,1) 80%);
color: #fff;
display: flex;
align-items: center;
justify-content: center;
font-size: 2rem;
height: 6rem;
padding: 1rem;
}
/* form */
form{
    display: flex;
    flex-direction: column;
}
.input{
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #AEAEAE;
}
/* buttons */
.btn.search{
    background-color:#6991E3;
    color: #fff;
}
.btn{
    margin-top: 1rem;
    height: 2rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #AEAEAE;
}
.border{
    margin-top: 1rem;
    border-top: .1rem solid gray;
}
/* city-info */
.city-info{
    border: 1px solid #222;
    padding-left: 1rem;
    margin-top: 1rem;
}
img{
    margin-bottom:-2rem;
    margin-top: -2rem;

}
/* forecast section */
.forecast{
    grid-column: 2;
    display: grid;
    grid-template:repeat(1, 1fr)/repeat(1, 1fr);
    grid-column-gap: 1rem; 
}
.day-forecast{
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #323D4F;
    width: 90%;
   padding: 1rem;
    line-height: 5px;
    height: 14rem;
    color: #fff;
}
/* icon */
.icon{
    width: 100px;
}
/* media querys */
/* 768px */

    .grid-1x2{
        margin-top: 1rem;
        display: grid;
        grid-template:repeat(1, 1fr)/repeat(1,20%)repeat(1, 1fr)
    }
    .column-2{
        margin-left: 1rem;
    }

/* 1080px */
@media screen and (min-width: 1080px){
    .forecast{
        grid-column: 2;
        grid-template:repeat(1, 1fr)/repeat(3, 1fr);
    }
} 
/* 1300px */
@media screen and (min-width: 1300px){
    .forecast{
        grid-column: 2;
        grid-template:repeat(1, 1fr)/repeat(5, 1fr);
    }
}